.navbar {
  background-color: rgba(34, 42, 61, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  position: fixed;
  z-index: 1;
}

.nav-options a {
  color: white;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  padding: 12px 30px 12px 30px;
  margin-right: 1vh;
  font-family: Calibri, sans-serif;
  font-weight: bold;
  border: none;
}

.nav-options a:hover {
  background-color: #5b71a5;
  color: #ffffff;
}

/* note: unused currently
<div class="dropdown">
    <a href="projects.html">Projects</a>
    <div class="projects-list">
        <a href="[]"></a>
        <a href="[]"></a>
        <a href="[]"></a>
    </div>
</div>
*/
.dropdown {
  position: relative;
  display: inline-block;
}

.projects-list {
  background-color: #5b71a5;
  display: none;
  position: absolute;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  min-width: 200px;
  z-index: 1;
}

.projects-list a {
  color: black;
  text-decoration: none;
  display: block;
  margin-right: 0px;
  line-height: 10px;
}

.projects-list a:hover {
  background-color: #2b354d;
}

.dropdown:hover .projects-list {
  display: block;
}